<div class="row">
    <div class="col-12">
        <div class="row" *ngIf="showEdit">
            <div class="col text-right mb-2">
                <button mat-button class="btn btn-primary mr-2" (click)="openAddTableModal(template)">Add Table</button>
                <button mat-button class="btn btn-primary" [routerLink]="['/app/add-user']">Add User</button>
            </div>
        </div>
        <div class="card-box table-responsive">
            <table id="user-mgmt" class="table table-hover dt-responsive nowrap" cellspacing="0" width="100%">
                <thead class="thead-dark">
                    <tr>
                        <th>Name</th>
                        <th>Role</th>
                        <th>Email</th>
                        <th>Created Date</th>
                        <th width="50" *ngIf="showEdit"></th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let user of users">
                        <td>{{ user?.firstName + ' ' + user?.lastName }}</td>
                        <td>{{ getRole(user?.authorities) }}</td>
                        <td>{{ user?.email }}</td>
                        <td>{{ user?.createdDate | date: 'dd MMM yyyy' }}</td>
                        <td *ngIf="showEdit">
                            <i [routerLink]="['/app/add-user', { id: user.email }]" class="mdi mdi-grease-pencil pr-3"></i>
                            <i class="mdi mdi-delete text-danger" (click)="removeUser(user.email)"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<ng-template #template>
        <div class="modal-header">
            <h4 class="modal-title pull-left">Add Table</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="form-group row">
                <label class="col-4 col-form-label">Table Number</label>
                <div class="col-8">
                    <input
                        name="tableNumber"
                        type="text"
                        placeholder="Enter Table Number"
                        class="form-control"
                        required
                    />
                </div>
            </div>
            <div class="row pull-right">
                <div class="col-12">
                    <button type="button" class="btn btn-primary" (click)="modalRef.hide()">Submit</button>
                </div>
            </div>
        </div>
    </ng-template>