<!-- ========== Left Sidebar Start ========== -->
<div class="left side-menu">
  <div class="sidebar-inner slimscrollleft">
    <!-- User -->
    <div class="user-box">
      <div class="user-img" [routerLink]="['/app/profile']">
        <img
          src="assets/images/users/blank-user.jpg"
          alt="user-img"
          title="Mat Helme"
          class="rounded-circle img-thumbnail img-responsive"
        />
      </div>
      <h5>
        <a [routerLink]="['/app/profile']">{{
          user?.firstName + ' ' + user?.lastName
        }}</a>
      </h5>
      <ul class="list-inline">
        <li class="list-inline-item">
          <a [routerLink]="['/app/profile']" tooltip="User Profile">
            <i class="mdi mdi-settings"></i>
          </a>
        </li>

        <li class="list-inline-item">
          <a (click)="logout()" class="text-custom" tooltip="Logout">
            <i class="mdi mdi-power"></i>
          </a>
        </li>
      </ul>
    </div>
    <!-- End User -->

    <!--- Sidemenu -->
    <div id="sidebar-menu">
      <ul>
        <li>
          <a class="waves-effect" [routerLink]="['/app/dashboard']"
            ><i class="mdi mdi-view-dashboard"></i> <span> Dashboard </span>
          </a>
        </li>

        <li>
          <a class="waves-effect" [routerLink]="['/app/orders']"
            ><i class="mdi mdi-food"></i> <span> Orders </span>
          </a>
        </li>

        <!-- <li>
                    <a class="waves-effect" [routerLink]="['/app/overtime']"
                        ><i class="mdi mdi-chair-school"></i> <span> Tables </span>
                    </a>
                </li> -->

        <li>
          <a class="waves-effect" [routerLink]="['/app/menu']"
            ><i class="mdi mdi-receipt"></i> <span> Menu </span>
          </a>
        </li>
        <!-- <li>
                    <a class="waves-effect" [routerLink]="['/app/work-timings']"
                        ><i class="mdi mdi-camera-timer"></i> <span> Work Timings/Overtime </span>
                    </a>
                </li> -->

        <li>
          <a class="waves-effect" [routerLink]="['/app/reports']"
            ><i class="mdi mdi-camera-timer"></i> <span> Reports </span>
          </a>
        </li>

        <li>
          <a class="waves-effect" [routerLink]="['/app/users']"
            ><i class="mdi mdi-account"></i> <span> Administration </span>
          </a>
        </li>

        <li>
          <a class="waves-effect" [routerLink]="['/app/stock']"
            ><i class="mdi mdi-chart-timeline"></i>
            <span> Stock Management </span>
          </a>
        </li>

        <!-- Commented as client doesn't want as of now -->
        <!-- <li>
                    <a class="waves-effect" [routerLink]="['/app/approvals']"><i class="mdi mdi-approval"></i> <span> Approvals </span> </a>
                </li> -->
      </ul>
      <div class="clearfix"></div>
    </div>
    <!-- Sidebar -->
    <div class="clearfix"></div>
  </div>
</div>
<!-- Left Sidebar End -->
