<!-- Top Bar Start -->
<div class="topbar">
  <!-- LOGO -->
  <div class="topbar-left">
    <a [routerLink]="['']" class="logo"
      ><span>Fusion<span>Restro</span></span></a
    >
  </div>

  <!-- Button mobile view to collapse sidebar menu -->
  <div class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <!-- Page title -->
      <ul class="nav navbar-nav list-inline navbar-left">
        <li class="list-inline-item">
          <button class="button-menu-mobile open-left">
            <i class="mdi mdi-menu"></i>
          </button>
        </li>
        <li class="list-inline-item">
          <h4 class="page-title">{{ dashboardTitle }}</h4>
        </li>
      </ul>

      <ul class="nav navbar-nav list-inline navbar-left ml-auto">
        <li class="list-inline-item pull-right pr-0">
          <button mat-button class="btn btn-primary">Close For Day</button>
        </li>
      </ul>

      <!-- <nav class="navbar-custom">

                <ul class="list-unstyled topbar-right-menu float-right mb-0">

                    <li class="hide-phone">
                        <form class="app-search">
                            <input type="text" placeholder="Search..."
                                   class="form-control">
                            <button type="submit"><i class="fa fa-search"></i></button>
                        </form>
                    </li>

                </ul>
            </nav> -->
    </div>
    <!-- end container -->
  </div>
  <!-- end navbar -->
</div>
<!-- Top Bar End -->
