

// $custom: #71b6f9;
// $custom: #066cb4ee;
$custom: #188ae2;


// Color variables

$white: #ffffff;


$primary: #188ae2;
$secondary: #727b84;
$success: #10c469;
$info: #35b8e0;
$warning: #f9c851;
$danger: #ff5b5b;
$purple: #5b69bc;
$pink: #ff8acc;
$inverse: #3b3e47;
$muted: #98a6ad;
$light: #eeeeee;
$dark: #435966;
$lightdark3: #333333;
$lightdark4: #444444;
$lightdark5: #555555;
$lightdark7: #797979;
$light5: #ebeff2;
$light3: #f3f3f3;
$light9: #f9f9f9;
$light-alt: #fafafa;
$lightdark-alt: #cccccc;
$lightdark: #f4f8fb;
$lightgray: #7a8c9a;


// Width variables
$width: 100%;

// Height variables
$height: 100%;

// Font size
$base-font-size: 14px;


// Leftbar background
$bg-leftbar : #2f353f;

//Font variables
$font-primary: 'Roboto', sans-serif;
$font-secondary:  'Karla', sans-serif;
