
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700);
@import url(https://fonts.googleapis.com/css?family=Karla:400,700);
@import url(https://fonts.googleapis.com/css?family=Rancho);


@import "variables";
@import "core";
@import "components";
@import "pages";
@import "menu_dark";
// @import "menu";
@import "responsive";
@import "icons";
@import '~ngx-bar-rating/themes/br-square-theme';
@import '~ngx-toastr/toastr';
