@import './../../../assets/scss/variables';

table {
  width: 90%;
  margin: 20px 100px 40px 100px;
  table-layout: fixed;
  border-collapse: collapse;
}

td {
  padding: 1.5em 0 0 0;
  vertical-align: bottom;
  background-image: radial-gradient(black 1px, darken($dark, 14%) 0px);
  background-size: 8px 8px;
  background-repeat: repeat-x;
  background-position: left bottom;
}

td span {
    color: darken($white, 30%);
}

td:first-child {
  text-align: left;
  font-weight: 700;
}

td:first-child span {
  padding-right: 0.25em;
}

td:last-child {
  text-align: right;
  width: 10em;
}

td:last-child span {
  padding-left: 0.25em;
}
