<div class="row">
  <div class="col text-right">
    <button class="btn btn-primary" (click)="openAddCategoryModal(template)">
      Add Category
    </button>
  </div>
</div>
<div>
  <tabset #staticTabs>
    <tab
      *ngFor="let tabz of categories; let i = index"
      [heading]="tabz.categoryName"
      [active]="tabz.active"
      (selectTab)="selectTab(tabz)"
      (deselect)="tabz.active = false"
    >
      <ng-container *ngTemplateOutlet="menuItemList"></ng-container>
    </tab>
  </tabset>
</div>

<ng-template #menuItemList>
  <div class="row">
    <div class="col text-right">
      <button
        class="btn btn-primary mr-2"
        (click)="openAddCategoryModal(templateMenuItem)"
      >
        Add Menu Item</button
      ><button
        class="btn btn-danger"
        (click)="deleteCategory()"
      >
        Delete Category
      </button>
    </div>
  </div>
  <table *ngIf="selectedTab && selectedTab.menuItemList.length > 0">
    <tr *ngFor="let menuItem of selectedTab.menuItemList">
      <td><span>{{ menuItem?.itemName }}</span></td>
      <td><span>&#8377;{{ menuItem?.price }} <i class="fa fa-trash text-danger pl-3" title="Delete Menu Item" (click)="deleteMenuItem(menuItem.id)"></i></span></td>
    </tr>
  </table>
  <table *ngIf="!selectedTab || selectedTab.menuItemList.length === 0">
    <tr>
      <td><span>No Menu Items yet in the category</span></td>
      <td><span></span></td>
    </tr>
  </table>
</ng-template>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Add Category</h4>
    <button
      type="button"
      class="close pull-right"
      aria-label="Close"
      (click)="modalRef.hide()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #categoryForm="ngForm">
      <div class="form-group row">
        <label class="col-4 col-form-label">Category Name</label>
        <div class="col-8">
          <input
            name="Category"
            type="text"
            placeholder="Enter Category Name"
            class="form-control"
            required
            [(ngModel)]="categoryName"
          />
        </div>
      </div>
      <div class="row pull-right">
        <div class="col-12">
          <button
            type="button"
            class="btn btn-primary"
            [disabled]="categoryForm.form.invalid"
            (click)="addCategory()"
          >
            Submit
          </button>
        </div>
      </div>
    </form>
  </div>
</ng-template>

<ng-template #templateMenuItem>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Add Item</h4>
    <button
      type="button"
      class="close pull-right"
      aria-label="Close"
      (click)="modalRef.hide()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group row">
      <label class="col-4 col-form-label">Item Name</label>
      <div class="col-8">
        <input
          name="Category"
          type="text"
          placeholder="Enter Item Name"
          class="form-control"
          required
          name="itemName"
          [(ngModel)]="menuItem.itemName"
        />
      </div>
    </div>
    <div class="form-group row">
      <label class="col-4 col-form-label">Item Price</label>
      <div class="col-8">
        <input
          name="Category"
          type="text"
          placeholder="Enter Item Price"
          class="form-control"
          required
          name="itemPrice"
          [(ngModel)]="menuItem.price"
        />
      </div>
    </div>
    <div class="row pull-right">
      <div class="col-12">
        <button type="button" class="btn btn-primary" (click)="addMenuItem()">
          Submit
        </button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #templateDeleteCategory>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Delete Category</h4>
    <button
      type="button"
      class="close pull-right"
      aria-label="Close"
      (click)="modalRef.hide()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <h4 class="text-danger">
      Are you sure you want to delete the Menu Category? All the menu items
      under this category will also be deleted.
    </h4>
    <div class="row pull-right">
      <div class="col-12">
        <button
          type="button"
          class="btn btn-danger mr-2"
          (click)="deleteCategory()"
        >
          Yes
        </button>
        <button type="button" class="btn btn-primary" (click)="modalRef.hide()">
          No
        </button>
      </div>
    </div>
  </div>
</ng-template>
