<div class="row pl-4">
  <div class="col-7">
    <div class="row">
      <div class="col">
        <app-tables [tableCost]="800" [tableNumber]="1"></app-tables>
      </div>
      <div class="col">
        <app-tables
          [tableCost]="2100"
          [selectedTable]="true"
          [tableNumber]="2"
        ></app-tables>
      </div>
      <div class="col">
        <app-tables [tableCost]="0" [tableNumber]="3"></app-tables>
      </div>
      <div class="col">
        <app-tables [tableCost]="1200" [tableNumber]="4"></app-tables>
      </div>
      <div class="col">
        <app-tables [tableCost]="1650" [tableNumber]="5"></app-tables>
      </div>
    </div>
  </div>
  <div class="col-5">
    <div class="card-box-light">
      <h4>Order Summary</h4>
      <div>
        <input
          type="search"
          placeholder="Search Menu Item"
          class="form-control search-menu"
        />
      </div>
      <div class="table-responsive mt-4 order-table-height">
        <table class="table table-hover">
          <thead class="thead-dark">
            <tr>
              <th>Menu Item</th>
              <th width="120" class="text-center">Quantity</th>
              <th width="120">Price</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Menchow Soup</td>
              <td>
                <div class="input-group plus-minus-input">
                  <div class="input-group-button">
                    <button
                      type="button"
                      class="button hollow circle"
                      data-quantity="minus"
                      data-field="quantity"
                    >
                      <i class="fa fa-minus" aria-hidden="true"></i>
                    </button>
                  </div>
                  <input
                    class="input-group-field"
                    type="number"
                    name="quantity"
                    value="0"
                  />
                  <div class="input-group-button">
                    <button
                      type="button"
                      class="button hollow circle"
                      data-quantity="plus"
                      data-field="quantity"
                    >
                      <i class="fa fa-plus" aria-hidden="true"></i>
                    </button>
                  </div>
                </div>
              </td>
              <td>&#8377;380</td>
            </tr>
            <tr>
              <td>Panner Starter</td>
              <td>
                <div class="input-group plus-minus-input">
                  <div class="input-group-button">
                    <button
                      type="button"
                      class="button hollow circle"
                      data-quantity="minus"
                      data-field="quantity"
                    >
                      <i class="fa fa-minus" aria-hidden="true"></i>
                    </button>
                  </div>
                  <input
                    class="input-group-field"
                    type="number"
                    name="quantity"
                    value="0"
                  />
                  <div class="input-group-button">
                    <button
                      type="button"
                      class="button hollow circle"
                      data-quantity="plus"
                      data-field="quantity"
                    >
                      <i class="fa fa-plus" aria-hidden="true"></i>
                    </button>
                  </div>
                </div>
              </td>
              <td>&#8377;440</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="row pull-right pr-1 bottom-fix">
        <div class="col-md-6 col-12">
          <button class="btn btn-primary" mat-button>Bill</button>
        </div>
        <div class="col-md-6 col-12">
          <button class="btn btn-primary" mat-button>Save</button>
        </div>
      </div>
    </div>
  </div>
</div>
