@import './../../../assets/scss/variables';

.card-box-light {
    padding: 20px;
    box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.06), 0 1px 0px 0 rgba(0, 0, 0, 0.02);
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: darken($dark,6%);
    min-height: 650px;
}

.search-menu {
    padding: 1.5em !important;
    background-color: darken($dark, 13%);
    color: whitesmoke;
}

.bottom-fix {
    position: absolute;
    bottom: 35px;
    right: 35px;
}

.order-table-height {
    max-height: 450px;
    overflow-y: auto;
}