<div class="row">
    <div class="col-xl-12">
        <div class="card-box">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a
                        class="nav-link"
                        id="profile-tab"
                        data-toggle="tab"
                        href="#profile"
                        role="tab"
                        aria-controls="profile"
                        aria-selected="false"
                        >Profile</a
                    >
                </li>
                <li class="nav-item">
                    <a
                        class="nav-link"
                        id="contact-tab"
                        data-toggle="tab"
                        href="#contact"
                        role="tab"
                        aria-controls="contact"
                        aria-selected="false"
                        >Change Password</a
                    >
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group row clearfix">
                                <label class="col-md-3 control-label " for="userName">First Name</label>
                                <div class="col-md-9">
                                    <input
                                        class="form-control required"
                                        id="userName"
                                        name="userName"
                                        type="text"
                                        [(ngModel)]="user.firstName"
                                    />
                                </div>
                            </div>
                            <div class="form-group row clearfix">
                                <label class="col-md-3 control-label " for="lastname"> Last Name</label>
                                <div class="col-md-9">
                                    <input
                                        id="password"
                                        name="lastname"
                                        type="text"
                                        class="required form-control"
                                        [(ngModel)]="user.lastName"
                                    />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row pull-right">
                        <div class="col">
                            <button mat-button class="btn btn-primary" (click)="saveUserDetails()">Save</button>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group row clearfix">
                                <label class="col-lg-2 control-label" for="name"> Current Password</label>
                                <div class="col-lg-10">
                                    <input
                                        id="name"
                                        name="name"
                                        type="password"
                                        class="required form-control"
                                        [(ngModel)]="passwordChangeDTO.currentPassword"
                                        required
                                    />
                                </div>
                            </div>
                            <div class="form-group row clearfix">
                                <label class="col-lg-2 control-label " for="surname"> New Password</label>
                                <div class="col-lg-10">
                                    <input
                                        id="surname"
                                        name="surname"
                                        type="password"
                                        class="required form-control"
                                        [(ngModel)]="passwordChangeDTO.newPassword"
                                        required
                                    />
                                </div>
                            </div>

                            <div class="form-group row clearfix">
                                <label class="col-lg-2 control-label " for="email">Confirm Password</label>
                                <div class="col-lg-10">
                                    <input id="email" name="email" type="password" class="required email form-control" [(ngModel)]="confirmPassword"/>
                                    <p class="text-danger" *ngIf="donotMatch">Password and Confirm Password do not match</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row pull-right">
                        <div class="col">
                            <button
                                mat-button
                                class="btn btn-primary"
                                (click)="changePassword()"
                            >
                                Save
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
