<div id="wrapper">
    <app-header></app-header>
    <app-sidebar></app-sidebar>
    <div class="content-page">
        <div class="content">
            <div class="container-fluid">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>
<ngx-spinner bdColor="#242329" size="medium" color="#055730" type="ball-pulse"></ngx-spinner>
