<div class="account-pages"></div>
<div class="clearfix"></div>
<div class="wrapper-page">
    <div class="text-center">
        <a [routerLink]="['']" class="logo"><span>Fusion<span> Restro & Bar</span></span></a>
    </div>
    <div class="m-t-40 card-box">
        <div class="text-center">
            <h4 class="text-uppercase font-bold m-b-0">Sign In</h4>
        </div>
        <div class="p-20">
            <form class="form-horizontal m-t-20"  (ngSubmit)="login()" role="form">

                <div class="form-group">
                    <div class="col-xs-12">
                        <input class="form-control" type="text" name="username" id="username" placeholder="Your username"
                        [(ngModel)]="username">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-xs-12">
                        <input class="form-control" type="password" name="password" id="password" placeholder="Your password"
                        [(ngModel)]="password">
                    </div>
                </div>

                <div class="form-group text-center m-t-30">
                    <div class="col-xs-12">
                        <button class="btn btn-custom btn-bordred btn-block waves-effect waves-light" type="submit">Log In</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
    <!-- end card-box-->

</div>
