<div class="row">
    <div class="col-12">
        <div class="card-box">
            <h4 class="pl-4"><i class="mdi mdi-arrow-left pr-2" [routerLink]="['/app/users']"></i>User List</h4>
            <div class="p-20 mb-3">
                <form class="form-horizontal" role="form" #addUserForm="ngForm" (ngSubmit)="addUserForm.valid && saveUser()">
                    <div class="form-group row">
                        <label class="col-2 col-form-label">First Name</label>
                        <div class="col-10">
                            <input type="text" class="form-control" placeholder="First Name" required [(ngModel)]="user.firstName" name="firstName"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-2 col-form-label">Last Name</label>
                        <div class="col-10">
                            <input type="text" class="form-control" placeholder="Last Name" required [(ngModel)]="user.lastName" name="lastName"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-2 col-form-label" for="example-email">Email</label>
                        <div class="col-10">
                            <input type="email" class="form-control" placeholder="User name" [(ngModel)]="user.email" name="email"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-2 col-form-label">Profiles</label>
                        <div class="col-10">
                            <select class="form-control" multiple name="authority" [(ngModel)]="user.authorities">
                                <option *ngFor="let authority of authorities" [value]="authority">{{ authority }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-2 col-form-label">Password</label>
                        <div class="col-10">
                            <input type="password" class="form-control" placeholder="Password" required [(ngModel)]="user.password" name="password"/>
                        </div>
                    </div>
                    <div class="row pull-right mt-1">
                        <div class="col-6 text-right">
                            <button mat-button class="btn btn-secondary" type="button" (click)="cancel()">Cancel</button>
                        </div>
                        <div class="col-6 pr-3">
                            <button mat-button class="btn btn-primary pr-4 pl-4">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
