<div class="row">
    <div class="col-xl-3 col-md-6">
        <div class="card-box  h-100">
            <h4 class="header-title mt-0 mb-3">Monthly Sale</h4>

            <div class="widget-chart-1">
                <div class="widget-chart-box-1">
                    <!-- <ngx-knob [value]="totalEmployees" [options]="leavesTakenOptions"></ngx-knob> -->
                </div>

                <div class="widget-detail-1">
                    <h2 class="p-t-10 mb-0">{{totalEmployees}}</h2>
                    <p class="text-muted m-b-10">Total Monthly Sale</p>
                </div>
            </div>
        </div>
    </div>
    <!-- end col -->

    <div class="col-xl-3 col-md-6">
        <div class="card-box  h-100">
            <h4 class="header-title mt-0 mb-3">Today's Sale</h4>

            <div class="widget-chart-1">
                <div class="widget-chart-box-1">
                    <ngx-knob [value]="67" [options]="advancesOptions"></ngx-knob>
                </div>

                <div class="widget-detail-1">
                    <h2 class="p-t-10 mb-0">{{ totalAdvanceTaken }}</h2>
                    <p class="text-muted m-b-10"></p>
                </div>
            </div>
        </div>
    </div>
    <!-- end col -->

   
    <!-- end col -->
</div>
