@import './../../../assets/scss/variables';

.table-circle {
    width: 150px;
    height: 150px;
    background-color: darken($dark, 11%);
    border-radius: 50%;
    margin: 30px 0;
    padding: 15px 20px;
    box-shadow: 10px 5px 20px #242c31;
}

.table-circle:hover {
    transition: 0.3s linear all;
    box-shadow: 5px 5px 10px darken($dark, 15%);
    cursor: pointer;
}

.status-active-badge {
    width: 12px;
    height: 12px;
    background-color: #0abb54;
    border-radius: 50%;
    position: absolute;
    box-shadow: 0 0 0 rgba(3, 90, 10, 0.8);
}

.selected-table {
    border: 2px solid green;
    box-shadow: 15px 10px 25px #242c31;
    background-color: darken($dark, 5%);
}