<!-- <div class="col-1"> -->
  <div class="table-circle" [ngClass]="{'selected-table': selectedTable}">
    <span class="status-active-badge"></span>
    <h2 class="text-center">{{tableNumber}}</h2>
    <h5 class="text-center text-custom">Rs {{tableCost}}</h5>
    <h6 class="text-right text-secondary">8:35 P.M.</h6>
  </div>
<!-- </div> -->
